[package]
name = "detect-changed-files"
version = "0.1.1"
edition = "2024"

[dependencies]

[profile.release]
strip = "symbols"
lto = true
opt-level = "z"
codegen-units = 1
panic = "abort"
overflow-checks = false
incremental = false
